<div class="policy-wrapper">
  <span class="title">Privacy Policy</span>
  <p style="padding-left: 5pt;text-indent: 0pt;line-height: 108%;text-align: justify;"> <b>PreVue Holdings, LLC</b>, and its
    affiliates <b>(“PreVue” “we,” “us,” or “our”)</b> respect your privacy. This
    Privacy Policy describes the processing of Personal Information (as defined below) that is provided,
    collected, or shared on the sites, applications, social media pages, or other platforms that link to this Privacy
    Policy (collectively, the <b>“Services”</b>). It also describes your choices about the collection, sharing, and use
    of your Personal Information.
  </p>
  <ol id="l1">
    <li data-list-text="1.">
      <h1 style="padding-top: 8pt;padding-left: 23pt;text-indent: -18pt;text-align: left;">
        Personal Information That We Collect</h1>
      <p>
        We may collect a range of Personal Information. <b>“Personal Information”</b> means information that uniquely
        identifies, relates to, describes or is reasonably capable of being associated with or linked to you. The types
        of Personal Information that we collect may include:
      </p>
      <ul class="common-list">
        <li>
          <b>General Information</b> – If you submit an inquiry, register for an account, or provide information through
          our Services, we may collect certain information about you. This may include your name, age, date of birth,
          gender, sexual preferences, email address, demographic information, and phone number.
        </li>

        <li>
          <b>Financial Information</b> – If you make any purchases through our Services, we will collect your financial
          information, including your name and payment information.
        </li>

        <li><b>Location Data</b> – While navigating our Services your mobile device or browser may share your location
          data, both through Wifi and GPS. We will collect this information based on the settings of your phone and
          browser.
        </li>

        <li><b>Usage Information</b> – When you use our Services, our servers may automatically record information,
          including your Internet Protocol address (“IP Address”), browser type, referring URLs (e.g., the site you
          visited before coming to our Services), domain names associated with your internet service provider,
          information on your interaction with our Services, and other such information.
        </li>
        <li><b>Employment Information</b> – If you apply for employment, we will collect your employment and work
          history, as well as other Personal Information related to your potential employment. This may include your
          education and employment history, address and contact information, demographic information, and any other
          information included in your resume or application.
        </li>
        <li><b>Audio, Visual and Communication Information</b> – We may collect audio, electronic or visual information;
          any data in any files uploaded, emailed or otherwise provided by customers, including photos and videos; the
          contents of your communications with us (whether via e-mail, social media, telephone or otherwise); and
          inferences we may make from other Personal Information that we collect.
        </li>

      </ul>
    </li>
    <li data-list-text="2.">
      <h1 style="padding-top: 8pt;padding-left: 23pt;text-indent: -18pt;text-align: left;">
        How We Collect Your Personal Information</h1>
      <ul class="common-list" id="l2">
        <li>
          <b>General Information</b> – If you submit an inquiry, register for an account, or provide information through
          our Services, we may collect certain information about you. This may include your name, age, date of birth,
          gender, sexual preferences, email address, demographic information, and phone number.
        </li>
        <li><b>
          We May Collect Your Personal Information Directly From You</b> – For example, if you register for an account
          through our Services, or request or purchase products, services, or information from us.
        </li>
        <li><b>We May Also Collect Personal Information From Third Parties </b> – For example, we may work with business
          partners, subcontractors, advertising networks, analytics providers and search information providers, who may
          provide us with Personal Information about you.
        </li>
        <li><b>Through Online Tracking Technologies </b> – We and our service providers may use cookies, device
          identifiers, and similar technologies such as pixels, web beacons, and local storage to collect usage and
          browser information about how you use the Services. We process the information collected through such
          technologies, which may include or be combined with Personal Information, to help operate certain features of
          the Services, to enhance your experience through personalization, and to help us better understand the
          features of the Services that you and other users are most interested in.
          Most browsers provide you with the ability to block, delete, or disable cookies, and your mobile device may
          allow you to disable transmission of unique identifiers and location data. If you choose to reject cookies or
          block device identifiers, some features of the Services may not be available, or some functionality may be
          limited or unavailable. Please review the help pages of your browser or mobile device for assistance with
          changing your settings.
          Some of our service providers or plug-ins may use cookies or other methods to gather information regarding
          your use of the Services and may combine the information in these cookies with any Personal Information about
          you that they may have. The use of such tracking information by a third party depends on the Privacy Policy of
          that third party. We do not respond to Do Not Track (“DNT”) signals sent to us by your browser at this time.
          To learn more about how DNT works, please visit <a href="http://allaboutdnt.com/" target="_blank">http://allaboutdnt.com/</a>.
        </li>
        <li><b>Through Analytics </b> – We use analytics services, including Google Analytics, to assist us with
          analyzing our website traffic through cookies and similar technologies. For more information on Google
          Analytics’ processing of your Personal Information, please see
          <a href="https://policies.google.com/technologies/partner-sites?hl=en-US" target="_blank">https://policies.google.com/technologies/partner-sites?hl=en-US</a>. You can also opt-out of Google Analytics
          here: <a href="https://tools.google.com/dlpage/gaoptout" target="_blank">https://tools.google.com/dlpage/gaoptout</a>.
        </li>
      </ul>
    </li>
    <li data-list-text="3.">
      <h1 style="padding-top: 8pt;padding-left: 23pt;text-indent: -18pt;text-align: left;">How We Use Personal
        Information</h1>
      <ul class="common-list" id="l2">
        To the extent permitted by applicable law, we may use Personal Information to:
        <li>operate the Services, including matching you with other users;</li>
        <li>provide support to our business functions;</li>
        <li>fulfill customer requests, such as to create an account or complete customer purchases;</li>
        <li>protect against criminal activity, claims and other liabilities;</li>
        <li>send you information about our company, products, services and promotions;</li>
        <li>respond to reviews, comments, or other feedback provided to us;</li>
        <li>support and personalize the Services and our advertising efforts;</li>
        <li>protect the security and integrity of the Services and other users;</li>
        <li>provide customer support;</li>
        <li>the extent required for benchmarking, data analysis, audits, developing new products, enhancing
          the Services, facilitating product, software and applications development, improving the Services or our
          services, conducting research, analysis, studies or surveys, identifying usage trends, as well as for other
          analytics purposes;
        </li>
        <li>meet our contractual requirements;</li>
        <li>comply with applicable legal or regulatory requirements and our policies;</li>
        <li>respond to inquiries related to employment opportunities;</li>
        <li>market, advertise, and provide the Services and other related products and services; and</li>
        <li>the extent necessary for any other lawful purpose for which the Personal Information is collected.</li>
      </ul>
    </li>
    <li data-list-text="5.">
      <h1 style="padding-top: 8pt;padding-left: 23pt;text-indent: -18pt;text-align: left;">
        Sharing of Personal Information</h1>
      <p>We may share your Personal Information in the following circumstances:</p>
      <ul class="common-list" id="l2">
        <li><b>To Third Parties for Marketing Purposes</b> – We may share your Personal Information with third parties
          for their marketing purposes. This may include third parties whose services we believe you may be interested,
          or who are interested in providing you with services.
        </li>
        <li><b>For Legal Obligation or Safety Reasons</b> – When we have a good faith belief that access, use,
          preservation or disclosure of Personal Information is reasonably necessary to (a) satisfy or comply with any
          requirement of law, regulation, legal process, or enforceable governmental request, (b) enforce or investigate
          a potential violation of the Terms of Use, (c) detect, prevent, or otherwise respond to fraud, security or
          technical concerns, (d) support auditing and compliance functions, or (e) protect the rights, property, or
          safety of PreVue, its users, or the public against harm.
        </li>
        <li><b>In the Case of a Merger or Sale</b> – If and when we are involved in a merger, acquisition, or any form
          of transfer or sale of some or all of its business, whether as a going concern or as part of bankruptcy,
          liquidation, or similar proceeding. Personal Information may be transferred along with the business. Where
          legally required we will give you prior notice and if you have a legal right to do so, an opportunity to
          object to this transfer.
        </li>
        <li><b>To Service Providers</b> – When we hire a service provider to help operate the Services or our business,
          we may give access to Personal Information as necessary to perform the service for PreVue. This may include
          service providers that operate our Services, send our communications, or run our promotions.
        </li>
        <li><b>To Business Partners</b> – We may share Personal Information with our trusted business partners. For
          example, we may share your Personal Information with a company when we co-sponsor a promotion or service.
          These partners and affiliates may use your Personal Information to, among other things, send you information
          or contact you about their services and products
        </li>
      </ul>
      <p class="mt-3">Given the nature of the Services, your information is also shared with other users of the Services
        in order to
        adequately match you with other individuals. As such, the information you disclose while using the Services will
        become available to other users to view. Please ensure that you only share information that you are comfortable
        making public to other individuals.</p>
    </li>
    <li data-list-text="6.">
      <h1 style="padding-top: 8pt;padding-left: 23pt;text-indent: -18pt;text-align: left;"> How Long Do We Keep Your Personal Information</h1>
      We will retain your Personal Information for as long as necessary to fulfill the purposes for which it has been
      collected, as outlined in this Privacy Policy, or any longer retention period required by law.
    <li data-list-text="7.">
      <h1 style="padding-top: 8pt;padding-left: 23pt;text-indent: -18pt;text-align: left;"> How We Protect Your Personal Information</h1>
      We use our commercially reasonable efforts to protect the confidentiality and security of Personal Information we
      process. However, despite these efforts to store Personal Information in a secure operating environment, we cannot
      guarantee the security of Personal Information during its transmission or its storage on our systems. Further,
      while we attempt to ensure the integrity and security of Personal Information, we cannot guarantee that our
      security measures will prevent third parties such as hackers from illegally obtaining access to Personal
      Information.
    <li data-list-text="8.">
      <h1 style="padding-top: 8pt;padding-left: 23pt;text-indent: -18pt;text-align: left;"> Your Choices and Controls</h1>
      <p> Depending on where you live, you have the right to exercise certain controls and choices regarding our collection,
      use and sharing of your Personal Information. To opt-out of marketing communications please email us at
      privacy@prevueapp.com or by following the instructions included in the email or text correspondence.
      </p>
      <p>You have the ability to stop information collection by uninstalling the Services and/or closing your account.
      However, please note that simply uninstalling the Services does not close your account.
      </p>
      <p>Please note that, even if you unsubscribe from certain correspondence, we may still need to contact you with
      important transactional or administrative information, as permitted by law. Additionally, if you withdraw your
      consent or object to processing, or if you choose not to provide certain Personal Information, we may be unable to
      provide some or all of our services to you.
      </p>

    <p>To exercise other rights with respect to your Personal Information, please contact us using the information in Section 12 below.</p>
    </li>
    <li data-list-text="9.">
      <h1 style="padding-top: 8pt;padding-left: 23pt;text-indent: -18pt;text-align: left;"> International Use of the Services</h1>
      The Services are hosted in the United States. If you are visiting the Services from outside of the United States,
      please note that by providing your Personal Information it is being transferred to, stored, collected, or
      processed in the United States, where our data center and servers are located and operated.
    </li>
    <li data-list-text="10.">
      <h1 style="padding-top: 8pt;padding-left: 23pt;text-indent: -18pt;text-align: left;"> Children’s Privacy</h1>
      We do not knowingly collect or solicit any Personal Information from children under the age of 18. In the
      event that we learn that we have collected Personal Information from a child, we will promptly take steps to delete that information. If you are a parent or legal guardian and think your child has given us their Personal Information, you can email us at <a href="mailto:privacy@prevueapp.com"
                                                                                                                                                                                                                                                                       target="_blank">privacy@prevueapp.com</a> or contact us using the information listed in Section 12.
    </li>
    <li data-list-text="11.">
      <h1 style="padding-top: 8pt;padding-left: 23pt;text-indent: -18pt;text-align: left;"> Links to Third Party Websites</h1>
      We are not responsible for the practices employed by any websites or services linked to or from the Services, including the information or content contained within them. We encourage you to investigate and ask questions before disclosing Personal Information to third parties, since any Personal Information disclosed will be subject to the applicable third party’s privacy policy.
    </li>
    <li data-list-text="12.">
      <h1 style="padding-top: 8pt;padding-left: 23pt;text-indent: -18pt;text-align: left;"> Changes to this Privacy Policy</h1>
      Please note that we may modify or update this Privacy Policy from time to time, so please review it periodically. We may provide you with an updated Privacy Policy if material changes are made. Unless otherwise indicated, any changes to this Privacy Policy will apply immediately upon posting to the Services.
    </li>
    <li data-list-text="13.">
      <h1 style="padding-top: 8pt;padding-left: 23pt;text-indent: -18pt;text-align: left;"> Contact Us</h1>
      If you have any questions about our practices or this Privacy Policy, please contact us at
      <a href="mailto:privacy@prevueapp.com"
         target="_blank">privacy@prevueapp.com</a>.
    </li>
  </ol>
