<div class="terms-wrapper">
  <span class="title">Terms of Service</span>
  <p style="padding-left: 5pt;text-indent: 0pt;line-height: 108%;text-align: justify;">Welcome to PreVue, operated by
    PreVue Holdings, LLC, a Delaware limited liability company (“PreVue”). Together, you and PreVue may be referred to
    as the “Parties” or separately as “Party” throughout these Terms of Use (these “Terms” or this “Agreement”).</p>
  <p style="padding-top: 7pt;padding-left: 5pt;text-indent: 0pt;line-height: 108%;text-align: justify;">Notice to
    California subscribers: You may cancel
    your subscription, without penalty or obligation, at any time prior to midnight of the third business day following
    the date you subscribed. If you subscribed using your Apple ID, refunds are handled by Apple, not PreVue. If you
    wish to request a refund, please visit
    <a href="https://getsupport.apple.com/" class="a" target="_blank">https://getsupport.apple.com</a> If you subscribed using your Google Play Store account, contact customer support at
    <a href="https://support.google.com/googleplay/?hl=en&amp;topic=3364260" class="a" target="_blank">https://support.google.com</a>.
  </p>
  <ol id="l1">
    <li data-list-text="1."><h1 style="padding-top: 8pt;padding-left: 23pt;text-indent: -18pt;text-align: left;">
      Acceptance of Terms of Use Agreement</h1>
      <p style="padding-top: 8pt;padding-left: 5pt;text-indent: 0pt;line-height: 108%;text-align: justify;">The terms
        set forth in this Agreement govern your use of PreVue. When you create a PreVue account or use the PreVue
        app, you agree to the terms contained in this Agreement. If you do not accept and agree to be bound by all
        of the terms, provisions and conditions in this Agreement, you should not access or use PreVue.</p>
      <p style="padding-top: 7pt;padding-left: 5pt;text-indent: 0pt;line-height: 108%;text-align: justify;">
        ARBITRATION NOTICE: <b>YOU UNDERSTAND THAT THESE TERMS CONTAIN A PRE-DISPUTE ARBITRATION CLAUSE. </b>YOU
        AGREE THAT DISPUTES BETWEEN YOU AND US WILL BE RESOLVED BY BINDING, INDIVIDUAL ARBITRATION AND YOU WAIVE
        YOUR RIGHT TO PARTICIPATE IN A CLASS ACTION LAWSUIT OR CLASS-WIDE ARBITRATION. WE EXPLAIN SOME EXCEPTIONS
        AND HOW YOU CAN OPT OUT OF ARBITRATION BELOW.</p>
      <p style="padding-top: 8pt;padding-left: 5pt;text-indent: 0pt;line-height: 108%;text-align: justify;">We may make changes to this Agreement at
        any time without prior notice. The most recent version of this Agreement will be posted on <a
        href="http://www.prevuedating.com/" class="s3" target="_blank">www.prevuedating.com</a>. The most recent
        version is the version that applies. If the changes include material changes to your rights or obligations,
        we will notify you by reasonable means, which could include notification through the app or via email. If
        you continue to use PreVue after any changes to this Agreement, then you agree to the modified terms of this
        Agreement. <span style=" color: #212121;">Changes may include superseding Terms.</span></p></li>
    <li data-list-text="2."><h1 style="padding-top: 7pt;padding-left: 23pt;text-indent: -18pt;text-align: left;">Your
      Commitments to PreVue</h1>
      <h1 style="padding-top: 9pt;padding-left: 5pt;text-indent: 0pt;line-height: 108%;text-align: justify;">Other
        Users’ Content. <span class="p">Other users will also share content on PreVue. The content of these other users belongs to the users who posted the content. You acknowledge and agree that you do not have any rights in relation to other users’ content, and, unless expressly authorized by use, you may only use other users’ content to the extent that your use is consistent with the uses and purposes of PreVue. The restrictions in this Agreement also apply to your use of other users’ content.</span>
      </h1>
      <h1 style="padding-top: 7pt;padding-left: 5pt;text-indent: 0pt;line-height: 108%;text-align: justify;">Our
        Content. <span class="p">Any other text, content, graphics, user interfaces, trademarks, logos, sounds, artwork, images, enhancements, upgrades, and other intellectual property appearing on PreVue is owned, controlled, or licensed by us and protected by copyright, trademark and other intellectual property law rights. All rights, title, and interest in and to our content remains with us at all times.</span>
      </h1>
      <p style="padding-top: 3pt;padding-left: 5pt;text-indent: 0pt;line-height: 108%;text-align: justify;">We grant
        you a limited, revocable, non-exclusive, non-transferable, right to access and use PreVue in accordance with
        the functionality made available to you. We reserve all rights not otherwise expressly granted by this
        Agreement. If you do not comply with this Agreement, we reserve the right to revoke any license granted in
        this Agreement and limit your access to PreVue. Any use of PreVue that exceeds the rights expressly granted
        in this Agreement is strictly prohibited and constitutes a violation of this Agreement, which may result in
        the termination of your right to access and use of PreVue. You are not acquiring any rights in or to our
        content other than a non-exclusive right to access and use PreVue solely in accordance with the terms of
        this Agreement.</p>
      <h1 style="padding-top: 8pt;padding-left: 5pt;text-indent: 0pt;line-height: 107%;text-align: justify;">Who Can
        Use PreVue. <span class="p">You must be at least 18 years of age to use or create an account on PreVue. By using or creating an account on PreVue, you represent and warrant that:</span>
      </h1>
      <ul id="l2">
        <li><p
          style="padding-top: 8pt;padding-left: 41pt;text-indent: -18pt;text-align: justify;">You are at least
          18 years of age.</p></li>
        <li><p
          style="padding-top: 1pt;padding-left: 41pt;text-indent: -18pt;text-align: justify;">You are capable
          of forming a binding agreement with PreVue.</p></li>
        <li><p
          style="padding-top: 1pt;padding-left: 41pt;text-indent: -18pt;line-height: 108%;text-align: justify;">
          You are lawfully permitted to use PreVue in the jurisdiction in which you use PreVue or reside.</p></li>
        <li><p
          style="padding-left: 41pt;text-indent: -18pt;line-height: 108%;text-align: justify;">You will comply
          with this Agreement and all applicable local, state, national and international laws, rules and
          regulations, including without limitation, privacy laws, intellectual property laws, anti-spam laws and
          regulatory requirements, in your use of PreVue’s services.</p></li>
        <li><p
          style="padding-left: 41pt;text-indent: -18pt;line-height: 108%;text-align: justify;">You have not
          committed, been convicted of, or pled no contest to a felony, sex crime or any crime involving violence
          or a threat of violence, and you are not required to register as a sex offender with any state, federal
          or local sex offender registry.</p></li>
        <li><p
          style="padding-left: 41pt;text-indent: -18pt;line-height: 15pt;text-align: justify;">You have not
          previously been removed or banned from using PreVue.</p>
          <p style="padding-top: 8pt;padding-left: 5pt;text-indent: 0pt;line-height: 109%;text-align: justify;">If
            at any time you cease to meet these requirements, you may no longer use PreVue, and you agree to
            delete your account immediately.</p>
          <h1 style="padding-top: 7pt;padding-left: 5pt;text-indent: 0pt;line-height: 109%;text-align: left;">How
            You May Not Use PreVue. <span class="p">In exchange for the ability to use PreVue, you agree to make the following commitments regarding the content you share on PreVue:</span>
          </h1></li>
        <li><p
          style="padding-top: 7pt;padding-left: 41pt;text-indent: -18pt;line-height: 108%;text-align: left;">
          You may not impersonate others. You agree to use your real name and age in creating your PreVue account
          and in modifying your profile.</p></li>
        <li><p style="padding-left: 41pt;text-indent: -18pt;line-height: 15pt;text-align: left;">
          You may not stalk or harass any other user of PreVue.</p></li>
        <li><p
          style="padding-top: 1pt;padding-left: 41pt;text-indent: -18pt;line-height: 108%;text-align: left;">
          You agree to follow PreVue’s instructions on uploading only videos and images that you create natively
          within the app.</p></li>
        <li><p style="padding-left: 41pt;text-indent: -18pt;line-height: 108%;text-align: left;">
          You may not post any content that threatens violence, is sexually explicit or pornographic, incites
          violence or contains nudity or violence.</p></li>
        <li><p style="padding-left: 41pt;text-indent: -18pt;line-height: 108%;text-align: left;">
          You may not do anything unlawful, misleading or fraudulent or for an illegal or unauthorized
          purpose.</p></li>
        <li><p style="padding-left: 41pt;text-indent: -18pt;line-height: 15pt;text-align: left;">
          You may not use PreVue for any commercial purpose.</p></li>
        <li><p style="padding-left: 41pt;text-indent: -18pt;text-align: left;">You may not upload
          content that violates a third-party’s legal rights.</p></li>
        <li><p
          style="padding-top: 1pt;padding-left: 41pt;text-indent: -18pt;line-height: 108%;text-align: left;">
          You may not sell, license or purchase any account or data obtained from PreVue or the app.</p></li>
        <li><p
          style="padding-top: 4pt;padding-left: 41pt;text-indent: -18pt;line-height: 108%;text-align: justify;">
          You may not post someone else’s private or confidential information without their permission.</p></li>
        <li><p
          style="padding-left: 41pt;text-indent: -18pt;line-height: 108%;text-align: justify;">You may not
          modify, translate, create derivative works of or reverse engineer our app or any component parts of
          PreVue.</p></li>
        <li><p
          style="padding-left: 41pt;text-indent: -18pt;line-height: 108%;text-align: justify;">You may not
          copy, modify, transmit, make use of or reproduce in any way any copyrighted material, images,
          trademarks, trade names, service marks or other intellectual property, content or proprietary
          information accessible through PreVue.</p></li>
        <li><p
          style="padding-left: 41pt;text-indent: -18pt;line-height: 108%;text-align: justify;">You may not
          develop, support or use software, devices, scripts, robots, other types of code or any other means or
          processes (including crawlers, browser plugins and add-on or other technology) to scrape, collect, or
          otherwise exfiltrate data from PreVue or its services, or otherwise copy profiles and other data from
          PreVue.</p></li>
        <li><p
          style="padding-left: 41pt;text-indent: -18pt;line-height: 108%;text-align: justify;">You may not
          upload viruses or other malicious code or otherwise compromise the security of PreVue.</p></li>
        <li><p
          style="padding-left: 41pt;text-indent: -18pt;line-height: 15pt;text-align: justify;">You may not
          upload content on PreVue or use PreVue in a way that violates these Terms.</p></li>
        <li><p style="padding-left: 41pt;text-indent: -18pt;text-align: justify;">You agree not
          to encourage, promote or engage in any activity that violates this Agreement.</p></li>
        <li><p
          style="padding-top: 1pt;padding-left: 41pt;text-indent: -18pt;text-align: justify;">You agree to
          report content that violates these Terms.</p>
          <p style="padding-left: 5pt;text-indent: 0pt;line-height: 108%;text-align: justify;">PreVue may
            investigate and take any available legal action in response to illegal or unauthorized use of
            PreVue’s services, including termination of your account or removal of material that violates this
            Agreement.</p>
          <p style="padding-top: 8pt;padding-left: 5pt;text-indent: 0pt;line-height: 108%;text-align: justify;">
            PreVue shall have the right at its sole discretion to terminate or suspend any account (or restrict
            access to any services) in order to enforce this Agreement at any time without liability and without
            the need to give you any prior notice. PreVue shall also have the right to terminate or suspend your
            account without notice (i) for violating these Terms, (ii) due to your conduct on or off the app in
            relation to other users, if we, in our sole discretion, determine your conduct was inappropriate or
            improper or (iii) for any reasons whatsoever that we deem, in our sole discretion, justifies
            termination or suspension.</p>
          <h1 style="padding-top: 8pt;padding-left: 5pt;text-indent: 0pt;line-height: 107%;text-align: justify;">
            Permissions That You Give To Us. <span class="p">As part of this Agreement, you give PreVue certain permissions regarding the content you upload to Prevue, as follows:</span>
          </h1></li>
        <li><p
          style="padding-top: 8pt;padding-left: 41pt;text-indent: -18pt;line-height: 108%;text-align: justify;">
          We do not claim ownership of your content, but you grant us a license to use it. When you share, post or
          upload content that is covered by intellectual property rights on or in connection with PreVue, you
          hereby grant to us a non-exclusive, royalty-free, transferable, sub-licensable, worldwide license to
          host, use, distribute, modify, run, copy, publicly perform or display, translate, and create derivative
          works of your content. This license will end when your content is deleted from our systems. You may
          delete content individually or all at once by deleting your account.</p></li>
        <li><p
          style="padding-left: 41pt;text-indent: -18pt;line-height: 108%;text-align: justify;">You agree that
          we may monitor or review any content you post on PreVue. We may delete any content, in whole or in part,
          that in our sole judgment violates this Agreement or may harm PreVue’s reputation.</p></li>
        <li><p
          style="padding-top: 4pt;padding-left: 41pt;text-indent: -18pt;line-height: 108%;text-align: justify;">
          You agree that PreVue may access, store and disclose your account information and content if required to
          do so by law, in providing the services of the app, or in a good faith belief that such access, storage
          or disclosure satisfies a legitimate interest, including to: (i) comply with legal process; (ii) enforce
          this Agreement; (iii) respond to claims that any content violates the rights of third parties; (iv)
          respond to your requests for customer service; or (v) protect the rights, property or personal safety of
          any user or third-party.</p>
        </li>
      </ul>
    </li>
    <li data-list-text="3."><h1 style="padding-left: 23pt;text-indent: -18pt;text-align: left;">Accounts</h1>
      <ul id="l3">
        <li><p
          style="padding-left: 41pt;text-indent: -18pt;line-height: 108%;text-align: justify;">Access to
          certain features on the PreVue app may require you to be registered with PreVue via a PreVue-generated
          registration form, which may rely on third party tools for user name and password authentication. This
          form will require you to provide certain requested information, including personal information. Upon
          successful completion of this form, you will be provided with an account and login information including
          a user name and password to successfully complete the registration process. You are the only person
          authorized to access and use your account. For more information about our collection of personal
          information about you in connection with account registration on PreVue, please review our Privacy
          Policy.</p></li>
        <li><p
          style="padding-left: 41pt;text-indent: -18pt;line-height: 108%;text-align: justify;">You must
          immediately notify us if your registration information changes or if you learn of (or have reason to
          suspect) any unauthorized use of your account or other security breach. You are responsible for
          maintaining the confidentiality of your user name and password and are fully responsible for all
          activities that occur under your user name and password. You also agree that you will provide truthful
          and accurate information during the registration process. We may refuse to grant you a particular user
          name for any reason, including without limitation if we have reason to believe that such user name
          impersonates someone else, is protected by trademark or other proprietary rights, or is vulgar or
          otherwise offensive.</p></li>
        <li><p
          style="padding-left: 41pt;text-indent: -18pt;line-height: 108%;text-align: justify;">PreVue may
          allow you to store your login credentials in your web browser so that you may be automatically logged in
          each time you access this Site. If someone else has access to your computer or web browser, the
          automatic login feature will allow that person to have access to your account. You are responsible for
          any damages to PreVue resulting from unauthorized access to your account, and we will have no liability
          to you or any third party for damages or loss related to such unauthorized access or use.</p></li>
        <li><p
          style="padding-left: 41pt;text-indent: -18pt;line-height: 108%;text-align: justify;">Your contract
          with your mobile network provider (“Mobile Provider”) will continue to apply when accessing or using
          PreVue on your mobile, handheld device (“Mobile Device”). You understand that your Mobile Provider may
          charge you fees for your use of its network connection while accessing or using PreVue, for data
          downloading, e-mail, text messages, for roaming, and other Mobile Provider or third-party charges. YOU
          ACCEPT RESPONSIBILITY FOR ALL MOBILE PROVIDER FEES. You further understand and agree that the terms and
          conditions applicable to the App Store or Google Play, as applicable, apply to you in addition to this
          Agreement.</p></li>
      </ul>
    </li>
    <li data-list-text="4."><h1 style="padding-top: 3pt;padding-left: 23pt;text-indent: -18pt;text-align: left;">
      Payment/Subscriptions</h1>
      <ul id="l4">
        <li><h1
          style="padding-left: 41pt;text-indent: -18pt;line-height: 108%;text-align: justify;">Payment<span
          class="p">. To subscribe to PreVue, you may be required to provide information regarding your credit card, ACH or checking information (“Payment Method”) to PreVue or our third-party e-commerce platform providers. You represent and warrant to PreVue that the information pertaining to your Payment Method is true and that you are an authorized user of the Payment Method. You hereby authorize us (or our third-party payment provider) to bill to your Payment Method in accordance with the terms of the subscription you are purchasing. You agree to pay to PreVue the fees for each Service you purchase. If any bank or other financial institution refuses to honor any payment of yours, we may charge you a fee up to the maximum amount permitted under applicable law and seek any other damages or remedies available.</span>
        </h1></li>
        <li><h1
          style="padding-left: 41pt;text-indent: -18pt;line-height: 108%;text-align: justify;">Managing
          Payment Method<span class="p">. When providing a Payment Method, we (or our third-party payment provider) may allow you to keep such Payment Method on file in order to facilitate recurring subscription payments. If you want to use a different Payment Method than the one you signed up to use during registration, you may edit your Payment Method information by logging into your account management tools on PreVue. If your Payment Method expires and you do not edit your Payment Method information or cancel your account, we may cancel your subscription without notice.</span>
        </h1></li>
        <li><h1
          style="padding-left: 41pt;text-indent: -18pt;line-height: 108%;text-align: justify;">
          Subscriptions<span
          class="p">. We may offer some services as automatically-renewing subscriptions. </span>IF YOU
          PURCHASE AN AUTOMATICALLY RENEWING SUBSCRIPTION, YOUR SUBSCRIPTION WILL RENEW AT THE END OF THE PERIOD,
          UNLESS YOU CANCEL SUCH SUBSCRIPTION. <span class="p">To avoid charges for a new subscription period, you must cancel before the end of the then-current subscription period. Deleting your account or deleting the application from your device may not cancel your subscription.</span>
        </h1></li>
        <li><h1
          style="padding-left: 41pt;text-indent: -18pt;line-height: 108%;text-align: justify;">Refunds<span
          class="p">. </span>ALL CHARGES FOR PURCHASES ARE NONREFUNDABLE, AND THERE ARE NO REFUNDS OR CREDITS
          FOR PARTIALLY USED PERIODS<span class="p">.</span></h1></li>
        <li><h1
          style="padding-left: 41pt;text-indent: -18pt;line-height: 108%;text-align: justify;">Taxes<span
          class="p">. You are responsible for, and agree to pay, all taxes, fees, and any other duties or surcharges set by any governmental agency or taxing authority. You agree to indemnify and hold PreVue harmless for any liability for taxes owed in connection with your purchase of the app.</span>
        </h1></li>
        <li><h1
          style="padding-left: 41pt;text-indent: -18pt;line-height: 107%;text-align: justify;">Billing Details<span
          class="p">. Please contact us if you believe there are any billing errors, or if you have any other questions related to your account history or bill. Unless otherwise provided by law, you must still pay any disputed charges until the dispute is resolved.</span>
        </h1>
      </ul>
    </li>
    <li data-list-text="5."><h1 style="padding-left: 23pt;text-indent: -18pt;text-align: left;">Disclaimers</h1>
      <ul id="l5">
        <li><p
          style="padding-left: 41pt;text-indent: -18pt;line-height: 108%;text-align: justify;">PreVue provides
          its services on an “as is” and “as available” basis. We cannot guarantee that the app will be safe or
          secure or will work perfectly all the time. To the extent permitted by applicable law, PreVue disclaims
          all warranties, whether express or implied, including the implied warranties of merchantability, fitness
          for a particular purpose, title and non-infringement.</p></li>
        <li><p
          style="padding-top: 4pt;padding-left: 41pt;text-indent: -18pt;line-height: 108%;text-align: justify;">
          Although PreVue reserves the right to review and remove content that violates this Agreement, such
          content is the sole responsibility of the member who posts it, and PreVue cannot guarantee that all
          content will comply with this Agreement.</p></li>
        <li><p
          style="padding-left: 41pt;text-indent: -18pt;line-height: 108%;text-align: justify;">PreVue assumes
          no responsibility for any content that you or another user or third-party posts, sends or receives
          through PreVue. Any material downloaded or otherwise obtained through the use of the service is accessed
          at your own discretion and risk.</p></li>
        <li><p
          style="padding-left: 41pt;text-indent: -18pt;line-height: 108%;text-align: justify;">Your use of
          PreVue or any service that it provides is at your sole risk. You are solely responsible for your
          interactions with other members. PreVue assumes no responsibility for your conduct or the conduct of any
          other member on or off the app or in connection with any service that PreVue provides. You acknowledge
          that PreVue does not conduct criminal background checks on its members.</p></li>
        <li><p
          style="padding-left: 41pt;text-indent: -18pt;line-height: 108%;text-align: justify;">PreVue may
          include links to other websites or Internet resources, or utilize the services or content of our
          partners or other third parties (collectively, “Third Party Materials”). Because we have no control over
          Third Party Materials or the administration of Third Party Materials by the third parties that provide
          them, you acknowledge and agree that we are not responsible for the availability of such materials, and
          we do not endorse and are not responsible or liable for any content, advertising, products or other
          materials on or available from such Third Party Materials (or for any privacy or other practices of the
          third parties operating those website or providing such materials). You further acknowledge and agree
          that we will not be responsible or liable, directly or indirectly, for any damage or loss caused or
          alleged to be caused by, in connection with, resulting from your use of or reliance on any such Third
          Party Materials. We strongly encourage you to review any separate terms of use and privacy policies
          governing use of these third-party websites and Third Party Materials.</p></li>
        <li><p
          style="padding-left: 41pt;text-indent: -18pt;line-height: 108%;text-align: justify;">The information
          provided in the app is not intended for distribution to (or use by) any person or entity in any
          jurisdiction or country where such distribution or use would be contrary to law or regulation, or that
          would subject us to any registration requirement within such jurisdiction or country. Neither this
          Agreement nor the app will be considered a solicitation for or offering of any investment or service to
          any person or entity in any jurisdiction where the same would be illegal.</p></li>
        <li><h1
          style="padding-left: 41pt;text-indent: -18pt;line-height: 108%;text-align: justify;">YOU UNDERSTAND
          THAT WE DO NOT CURRENTLY CONDUCT CRIMINAL BACKGROUND CHECKS ON OUR USERS. WE ALSO DO NOT INQUIRE INTO
          THE BACKGROUNDS OF OUR USERS OR ATTEMPT TO VERIFY THE STATEMENTS OF OUR USERS. WE MAKE NO
          REPRESENTATIONS OR WARRANTIES AS TO THE CONDUCT OF ANY USERS OR THEIR COMPATIBILITY WITH ANY CURRENT OR
          FUTURE USERS. WE RESERVE THE RIGHT (BUT ARE NOT OBLIGATED) TO CONDUCT ANY CRIMINAL BACKGROUND CHECK OR
          OTHER SCREENINGS (SUCH AS SEX OFFENDER REGISTRATION SEARCHES) AT ANY TIME AND TO USE AVAILABLE PUBLIC
          RECORDS FOR ANY PURPOSE.</h1>
      </ul>
    </li>
    <li data-list-text="6."><h1 style="padding-left: 23pt;text-indent: -18pt;text-align: left;">Limitation of
      Liability</h1>
      <p class="s5" style="padding-top: 3pt;padding-left: 5pt;text-indent: 0pt;text-align: justify;">PreVue’s
        responsibility for anything that happens on the service (also called “liability”) is limited to liability
        required by applicable law. If there is an issue with PreVue’s service, we cannot know the possible impacts
        of such service issue. You agree that we will not be responsible (“liable”) for any lost profits, revenues,
        information or data, or consequential, special, indirect, exemplary, punitive or incidental damages arising
        out of or related to this Agreement or the use or loss of use of PreVue’s services, even if PreVue has been
        advised of the possibility of such damages or losses. This includes damages arising out of our deletion of
        your content, information or account. Our aggregate liability arising out of or relating to this Agreement
        will not exceed the greater of $100 and the amount that you have paid us in the past twelve (12) months. If
        you live in a state that does not allow the limitation or exclusion of liability or incidental or
        consequential damages, exclusions may not apply to you.</p>
    </li>
    <li data-list-text="7."><h1 style="padding-left: 23pt;text-indent: -18pt;text-align: left;">Indemnity</h1>
      <p class="s5" style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">You agree to defend, indemnify and
        hold us harmless from and against any claims, liabilities, damages, losses and expenses, including without
        limitation reasonable attorney’s fees and costs, arising out of or in any way connected with this Agreement
        or your use of PreVue’s services (including to the extent resulting from or arising out of any unauthorized
        or otherwise inappropriate use of PreVue’s services or the app attributable to you or that occurs through
        the use of your account). You also agree to indemnify, defend and hold PreVue harmless in connection with
        the alleged or actual infringement of any intellectual property rights, proprietary rights, rights of
        privacy and publicity, moral rights and rights of attribution raised by any other person or entity against
        PreVue in connection with any user generated content that you provide, post or distribute.</p>
      <p class="s5" style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">Furthermore, you agree to release
        PreVue and its affiliates together with all of their respective officers, directors, managers, agents,
        subsidiaries, and employees, from any and all liability and obligations whatsoever in connection with your
        use of PreVue’s services. If at any time you are not happy with PreVue’s services, your sole remedy is to
        cease using the services.</p>
      <p class="s5" style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">You will cooperate as required by
        us in the defense of any claim. We reserve the right to assume the exclusive defense and control of any
        matter subject to indemnification by you, and you will not in any event settle any claim without our prior
        written consent.</p>
    </li>
    <li data-list-text="8."><h1 style="padding-left: 23pt;text-indent: -18pt;text-align: left;">Governing Law</h1>
      <p style="padding-top: 9pt;padding-left: 5pt;text-indent: 0pt;line-height: 107%;text-align: left;">This
        Agreement will be governed by and construed in accordance with the law of the State of New York, without
        regard to conflict of laws principles.</p></li>
    <li data-list-text="9."><h1 style="padding-top: 8pt;padding-left: 23pt;text-indent: -18pt;text-align: left;">Dispute
      Resolution</h1>
      <p style="padding-top: 8pt;padding-left: 5pt;text-indent: 0pt;line-height: 109%;text-align: left;">If you have a
        legal dispute with PreVue, except where prohibited by applicable law, the Parties hereby agree to proceed as
        follows.</p>
      <ol id="l6">
        <li data-list-text="a."><p
          style="padding-top: 7pt;padding-left: 41pt;text-indent: -18pt;line-height: 108%;text-align: justify;">
          Any dispute, claim or controversy between you and PreVue that arises from or relates in any way to this
          Agreement (including any alleged breach of this Agreement), or PreVue’s relationship with you
          (collectively, “Dispute”) shall be exclusively resolved through binding individual arbitration except as
          specifically provided otherwise herein. “Dispute”</p>
          <p style="padding-top: 3pt;padding-left: 41pt;text-indent: 0pt;line-height: 108%;text-align: justify;">
            as used in this Agreement shall have the broadest possible meaning and include claims that arose
            before the existence of this or any prior agreement and claims that arise during the term of this
            Agreement or after the termination of this Agreement. You and PreVue each waive the right to a jury
            trial and the right to litigate disputes in court in favor of individual arbitration (except as set
            forth below). You and PreVue each waive the right to file or participate in a class action against
            the other or otherwise to seek relief on a class basis. If there is a judicial determination that
            any particular claim cannot be arbitrated in accordance with this provision’s limitations, then only
            that claim may be brought in court. All other claims remain subject to this provision.</p>
        </li>
        <li data-list-text="b."><p class="s5"
                                   style="padding-left: 41pt;text-indent: -18pt;line-height: 108%;text-align: justify;">
          Before you commence arbitration of a claim, you must provide us with a written Notice
          of Dispute that includes your name, residence address, user name, email address or phone number you
          use for your PreVue account, a detailed description of the dispute and the relief that you seek. Any
          Notice of Dispute that you send to us should be emailed to us at <a href="mailto:disputes@prevueapp.com"
                                                                              target="_blank">disputes@prevueapp.com</a>
          with a copy mailed to <span style=" color: #000;">PO Box 1824, Middleburg, VA 20118</span>. Before we
          commence arbitration, we will send you a Notice of Dispute to the email address that you use with your
          PreVue account (or by other appropriate means). If we are unable to resolve a dispute within thirty (30)
          days after the Notice of Dispute is received, you or we may commence arbitration.</p>
        </li>
        <li data-list-text="c."><p class="s7"
                                   style="padding-left: 41pt;text-indent: -18pt;line-height: 108%;text-align: justify;">
          The U.S.
          Federal Arbitration Act governs the interpretation and enforcement of this Agreement. To begin an
          arbitration proceeding, you must send a letter requesting arbitration and describing your claim to
          our registered agent VCorp Services, LLC, 1013 Centre Road, Suite 403-B, Wilmington, DE 19805. The
          arbitration will be conducted by JAMS, an established alternative dispute resolution provider.
          Disputes involving claims and counterclaims under $250,000 (not inclusive of attorneys’ fees and
          interest) shall be subject to JAMS’ most current version of the Streamlined Arbitration Rules and
          procedures available at <a href="http://www.jamsadr.com/rules-streamlined-arbitration/" class="s2"
                                     target="_blank">http://www.jamsadr.com/rules-streamlined-arbitration/</a>; all
          other claims shall be subject to JAMS’ most current version of the Comprehensive Arbitration Rules and
          Procedures, available at <a href="http://www.jamsadr.com/rules-comprehensive-arbitration/" class="a"
                                      target="_blank">http://www.jamsadr.com/rules-comprehensive-arbitration/</a>. JAMS’
          rules are also available
          at <a href="http://www.jamsadr.com/" class="s2" target="_blank">www.jamsadr.com</a>
          <span style=" color: #000;">or by calling JAMS at 800-352-5267. If JAMS is not available to arbitrate, the parties will select an alternative arbitral forum. If the arbitrator finds that you cannot afford to pay JAMS’ filing, administrative, hearing and/or other fees and cannot obtain a waiver from JAMS, PreVue will pay them for you. In addition, PreVue will reimburse all such JAMS’ filing, administrative, hearing and/or other fees for claims totaling less than $10,000 unless the arbitrator determines that the claims are frivolous.</span>
        </p>
        </li>
        <li data-list-text="d."><p
          style="padding-left: 41pt;text-indent: -18pt;line-height: 108%;text-align: justify;">You may choose
          to have the arbitration conducted by telephone, based on written submissions, or in person in the
          country where you live or at another mutually agreed location. Any judgment on the award rendered by the
          arbitrator may be entered in any court of competent jurisdiction.</p></li>
        <li data-list-text="e."><p
          style="padding-top: 3pt;padding-left: 41pt;text-indent: -18pt;line-height: 108%;text-align: justify;">
          Notwithstanding the foregoing, either you or PreVue may elect to have an individual claim heard in a
          small claims court having jurisdiction over the claim. If the request to proceed in small claims court
          is made after an arbitration has been initiated but before an arbitrator has been appointed, such
          arbitration shall be administratively closed. Any controversy over the small claims court’s jurisdiction
          shall be determined by the small claims court. All other issues (except as otherwise provided herein)
          are exclusively for the arbitrator to decide, including but not limited to scope and enforceability of
          this Agreement, as well as any request to proceed in small claims court that is made after an arbitrator
          has been appointed.</p>
        </li>
        <li data-list-text="f."><p
          style="padding-left: 41pt;text-indent: -18pt;line-height: 108%;text-align: justify;">You may opt out of this
          provision
          within 30 days of the date that you agreed to this Agreement. To opt out, you must send your name,
          residence address, user name, email address or phone number you use for your PreVue account (and a clear
          statement that you want to opt out of this arbitration agreement) to: <a
            href="mailto:disputes@prevueapp.com" class="s3" target="_blank">disputes@prevueapp.com</a>.</p>
        </li>
        <li data-list-text="g."><p
          style="padding-top: 4pt;padding-left: 41pt;text-indent: -18pt;line-height: 108%;text-align: justify;">
          ALL CLAIMS AND DISPUTES WITHIN THE SCOPE OF THIS AGREEMENT MUST BE ARBITRATED ON AN INDIVIDUAL BASIS AND
          NOT ON A CLASS OR COLLECTIVE BASIS; ONLY INDIVIDUAL RELIEF IS AVAILABLE; AND CLAIMS OF MORE THAN ONE
          CUSTOMER OR USER CANNOT BE ARBITRATED OR CONSOLIDATED WITH THOSE OF ANY OTHER CUSTOMER OR USER. If a
          decision is issued stating that applicable law precludes enforcement of any of this subsection’s
          limitations as to a given claim for relief, then the claim must be severed from the arbitration and
          brought into the state or federal courts located in the State of New York. All other claims shall be
          arbitrated.</p>
        </li>
        <li data-list-text="h."><p
          style="padding-left: 41pt;text-indent: -18pt;line-height: 108%;text-align: justify;">YOU AND PREVUE
          HEREBY WAIVE ANY CONSTITUTIONAL AND STATUTORY RIGHTS TO SUE IN COURT AND HAVE A TRIAL IN FRONT OF A
          JUDGE OR A JURY. You and PreVue are instead electing that all claims and disputes shall be resolved by
          arbitration under this Agreement, except as specified in Section 16.1 above. An arbitrator can award on
          an individual basis the same damages and relief as a court and must follow this Agreement as a court
          would. However, there is no judge or jury in arbitration, and court review of an arbitration award is
          subject to very limited review.</p>
        </li>
        <li data-list-text="i."><p
          style="padding-left: 41pt;text-indent: -18pt;line-height: 108%;text-align: justify;">The foregoing
          shall not preclude PreVue from seeking injunctive relief in any court of competent jurisdiction located
          in other countries and jurisdictions for protection of PreVue’s intellectual property.</p></li>
      </ol>
    </li>
    <li data-list-text="10."><h1 style="padding-left: 41pt;text-indent: -18pt;text-align: left;">Miscellaneous.</h1>
      <h1 style="padding-top: 8pt;padding-left: 5pt;text-indent: 0pt;line-height: 109%;text-align: left;">Entire
        Agreement. <span class="p">These Terms set forth the entire understanding and agreement between you and PreVue with respect to the subject matter hereof.</span>
      </h1>
      <h1 style="padding-top: 3pt;padding-left: 5pt;text-indent: 0pt;line-height: 108%;text-align: justify;">
        Severability<span class="p">. If any part or parts of this Agreement are found under the law to be invalid or unenforceable, then such specific part or parts shall be of no force and effect and shall be severed and the remainder of this Agreement shall continue in full force and effect.</span>
      </h1>
      <h1 style="padding-top: 8pt;padding-left: 5pt;text-indent: 0pt;line-height: 108%;text-align: justify;">Waivers.
        <span class="p">No waiver by us of any right under or term or provision of these Terms will be deemed a waiver of any other right, term or provision of these Terms at the time of such waiver or a waiver of that or any other right, term or provision of these Terms at any other time.</span>
      </h1>
    </li>
    <li data-list-text="11."><h1 style="padding-top: 7pt;padding-left: 41pt;text-indent: -18pt;text-align: left;">
      Privacy Policy</h1></li>
  </ol>
  <p class="s7" style="padding-top: 9pt;padding-left: 5pt;text-indent: 0pt;text-align: justify;">Please visit
    <a (click)="goTo('policy')" class="s2" target="_blank">
    www.prevuedating.com/policy
  </a>
    <span style=" color: #000;">to review the PreVue Privacy Policy.</span></p>
</div>
