<div class="home-prefooter">
  <div class="home-prefooter-info">
    <h1 class="title text-white">
      It's time for <br>
      something new.
    </h1>
    <p class="subtitle text-white">Try PreVue.</p>
  </div>
  <div class="home-prefooter-images">
    <img class="home-prefooter-qr" src="assets/images/qrcode.png" alt="">
    <div class="home-prefooter-stores">
      <img class="store-apple mr-2" src="assets/images/store/CTA-App-Store.png" alt="">
      <img class="store-google" src="assets/images/store/CTA-Google-Play.png" alt="">
    </div>
  </div>
</div>
