@import "src/styles/colors";

.home-prefooter {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  justify-items: self-end;
  align-items: center;
  background-color: $blue-2;
  height: 25rem;
  padding-bottom: 5vw;
  margin-top: -0.1875rem;

  .home-prefooter-info {
    .subtitle {
      font-size: 2vw;
      font-weight: 400;
    }
  }

  .home-prefooter-images {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    .home-prefooter-qr {
      width: 8vw;
      margin-bottom: 1vw;
      filter: invert(1);
    }

    .home-prefooter-stores {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      .store-apple {
        width: 100px;
      }

      .store-google {
        width: 130px;
      }
    }

  }

}

@media (max-width: 768px) {
  .home-prefooter {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)) !important;
    height: 25rem !important;
    padding: 1.25rem;
    justify-items: center !important;

    .home-prefooter-info {
      .subtitle {
        font-size: 1.7rem !important;
        font-weight: 300 !important;
      }
    }

    .home-prefooter-stores {
      .store-apple {
        width: 130px !important;
      }
      .store-google {
        width: 170px !important;
      }
    }
  }
}
