<div class="layout-footer">
  <ul class="footer-options">
    <li (click)="goTo('mission')">Mission</li>
    <li (click)="goTo('terms')">Terms of Service</li>
    <li (click)="goTo('policy')">Privacy</li>
    <li (click)="goTo('contact')">Contact</li>
  </ul>
  <ul class="footer-options">
    <li>Follow us</li>
    <li>
      <img src="assets/images/icons/icon-facebook.png" alt="">
    </li>
    <li>
      <img src="assets/images/icons/icon-twitter.png" alt="">
    </li>
    <li>
      <img src="assets/images/icons/icon-instagram.png" alt="">
    </li>
    <li>
      <img src="assets/images/icons/icon-linkedin.png" alt="">
    </li>
    <li>
      <img src="assets/images/icons/icon-tiktok.png" alt="">
    </li>
    <li (click)="backToTop()">
      Back to top <i class="bi bi-arrow-up back-to-top"></i>
    </li>
  </ul>
</div>



