<div class="layout-footer">
  <ul class="footer-options">
    <li>Item 2</li>
    <li>Item 2</li>
    <li>Item 2</li>
    <li>Item 2</li>
  </ul>
  <ul class="footer-options">
    <li>Follow us</li>
    <li>
      <img src="assets/images/icons/icon-facebook.png" alt="">
    </li>
    <li>
      <img src="assets/images/icons/icon-twitter.png" alt="">
    </li>
    <li>
      <img src="assets/images/icons/icon-instagram.png" alt="">
    </li>
    <li>
      <img src="assets/images/icons/icon-linkeding.png" alt="">
    </li>
    <li>
      <img src="assets/images/icons/icon-tiktok.png" alt="">
    </li>
    <li>
      Back to top <i class="bi bi-arrow-up"></i>
    </li>
  </ul>
</div>



