@import "~src/styles/colors";

.layout-footer {
  width: 100%;
  background-color: $blue;
  display: flex;
  justify-content: space-between;
  padding: 0 6rem;
  height: 5rem;

  .footer-options {
    display: flex;
    list-style: none;
    color: white;
    align-items: center;
    margin: 0;
    &:last-of-type {
      li {
        margin-right: 2.5rem;
        &:first-of-type {
          letter-spacing: 0.1875rem;
          color: $rose;
          font-weight: 400;
        }
        img {
          width: 1.25rem;
        }
      }
    }
    li {
      font-weight: 300;
      margin-right: 0.9375rem;
      cursor: pointer;
      transition: all .3s ease;
      &:hover {
        color: $rose;
        .back-to-top {
          color: $rose;
          border-color: $rose;
        }
      }
    }

    .back-to-top {
      border: 0.0625rem solid white;
      padding: 0.4375rem;
      margin-left: 0.5rem;
      transition: all .3s ease;
      &:hover {
        color: $rose;
        border-color: $rose;

      }
    }
  }
}
