<div class="home-hero">
  <img class="hero-background" src="assets/images/backgrounds/hero-background.png" alt="">
  <div class="home-hero-container">
    <div class="home-hero-info-wrapper">
      <div class="empty-space"></div>
      <div class="home-hero-info">
        <h1 class="home-hero-title text-nowrap">Dating Done <br>
          Differently
        </h1>
        <p class="home-hero-text text-nowrap">
          A dating app should celebrate what makes you who you are. <br>
          And let's be real: a photo and a bio just don't cut it anymore. <br>
          It's time for something different -- try PreVue.
        </p>
        <img class="home-hero-qr" src="assets/images/qrcode.png" alt="">
        <div class="home-hero-stores">
          <img class="store-apple mr-2" src="assets/images/store/CTA-App-Store.png" alt="">
          <img class="store-google" src="assets/images/store/CTA-Google-Play.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
