.home-hero {
  position: relative;
  width: 100%;
  .hero-background {
    width: 100%;
  }
  .home-hero-container {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    .home-hero-info-wrapper{
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
      align-items: center;
      justify-items: center;

      .home-hero-info {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        max-width: 40vw;

        .home-hero-title {
          font-size: 5vw;
          font-weight: bold;
          margin-bottom: 20px;
        }

        .home-hero-text {
          font-weight: 300;
          font-size: 1.3vw;
        }
        .home-hero-qr {
          width: 8vw;
          margin-bottom: 4vw;
          filter: invert(1);
        }

        .home-hero-stores {
          display: flex;
          align-items: center;
          .store-apple {
            width: 150px;
          }
          .store-google {
            width: 190px;
          }
        }
      }
    }

  }
}



// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {

  .home-hero-info-wrapper{
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)) !important;
    padding-top: 50px !important;
    align-items: flex-start !important;
    .home-hero-info {
      max-width: 80% !important;
      height: unset !important;
    }
  }

}
