<div class="home-hero">
  <img class="hero-background d-md-none d-xs-none" src="assets/images/backgrounds/hero-background-mobile.png" alt="">
  <img class="hero-background d-none d-md-block d-xs-block" src="assets/images/backgrounds/hero-background.png" alt="">
  <div class="home-hero-container">
    <div class="home-hero-info-wrapper">
      <div class="empty-space d-none d-xs-block d-md-block"></div>
      <div class="home-hero-info">
        <h1 class="title home-hero-title text-nowrap text-white">Dating Done <br>
          Differently
        </h1>
        <p class="info-text home-hero-text text-white">
          A dating app should celebrate what makes you who you are.
          And let's be real: a photo and a bio just don't cut it anymore.
          It's time for something different -- try PreVue.
        </p>
        <img class="home-hero-qr d-none d-lg-block d-xl-block" src="assets/images/qrcode.png" alt="">
        <div class="home-hero-stores">
          <img class="store-apple mr-2" src="assets/images/store/CTA-App-Store.png" alt="">
          <img class="store-google" src="assets/images/store/CTA-Google-Play.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
