@import "src/styles/colors";

::ng-deep {
  .step-two-text {
    margin-left: -2vw;
  }

  .home-how-wrapper {
    background: url("~src/assets/images/backgrounds/HowItWorks-background.png");
    background-size: 100% 100%;
    position: relative;
    z-index: 1;

    .home-how {
      position: relative;
      height: 50vw;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
      align-items: center;
      justify-items: end;
      gap: 10%;

      .home-how-steps-image {
        img {
          max-height: 40vw
        }
      }

      .home-how-steps-info-wrapper {
        display: flex;
        align-items: start;
        width: 100%;
        flex-direction: column;
        height: 100%;

        .home-how-steps-info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100%;
          background-position: center !important;
          background-repeat: no-repeat !important;
          padding-top: 8vw;
          text-align: center;
          width: 30vw;
        }
      }
    }

    .p-carousel-content {
      position: relative;

      .p-carousel-indicators {
        position: absolute;
        left: 55%;
        top: 29%;
      }
    }

  }


  @media (max-width: 768px) {
    .home-how-wrapper {
      background-size: cover;

      .home-how {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)) !important;
        justify-items: center !important;
        height: 725px !important;
        gap: 0 !important;

        .home-how-steps-image {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            max-height: unset !important;
            width: 12.625rem;
          }
        }

        .home-how-steps-info-wrapper {
          align-items: center !important;
          grid-row: 1;

          .home-how-steps-info {
            width: 77vw !important;
            background-size: 32% !important;
          }
        }
      }

      .home-about-video {
        width: 170% !important;
        margin-left: -37% !important;
      }
      .p-carousel-content {
        flex-direction: column-reverse !important;

        .p-carousel-indicators {
          position: unset !important;
          margin-top: 30px !important;
          padding: 0 !important;

          li {
            margin-bottom: 0 !important;
          }
        }
      }
    }
  }

}




