<div class="mission">
  <img class="w-100" src="assets/images/backgrounds/mission-background.png" alt="">
  <div class="mission-container">
    <div class="mission-wrapper">
      <div class="mission-info-wrapper">
        <h1>Mission</h1>
        <p class="info-text text-nowrap my-5">PreVue is a community that emphasizes real, authentic connections <br>
          by inspiring people to be themselves. Simply put: we look at dating <br>
          differently. At PreVue, we believe that the essence of who you are <br>
          should be celebrated and embraced - never filtered.</p>
        <img class="mission-video" src="assets/images/backgrounds/mission-thumbnail.png" />
      </div>
      <div class="mission-founder-wrapper">
        <div class="mission-founder">
          <img class="mission-founder-image" src="assets/images/founder.png" alt="">
          <h2 class="title">Lucanus Grady</h2>
          <p class="subtitle">founder</p>
        </div>
      </div>
    </div>
  </div>
</div>
