<div class="layout-navbar" [class.mission-navbar]="enableMissionNavbar">
  <img class="app-logo" src="assets/images/{{enableMissionNavbar || screenMode === 'md' ? 'logo.png' : 'logo-white.png'}}" (click)="goTo('')">
  <img class="hamburger" src="assets/images/icons/{{enableMissionNavbar || screenMode === 'md' ? 'hamburger-blue' : 'hamburger'}}.png" (click)="visibleSidebar=true">
</div>

<p-sidebar [(visible)]="visibleSidebar" position="right" [baseZIndex]="10000">
  <div class="sidebar-wrapper">
    <div class="sidebar-main-routes mb-4">
      <h3>About</h3>
      <h3>How it Works</h3>
      <h3>Testimonials</h3>
      <h3>Contact</h3>
    </div>
    <div class="sidebar-secondary-routes mb-5">
      <p (click)="goTo('mission')">Mission</p>
      <p (click)="goTo('terms')">Terms of Service</p>
      <p (click)="goTo('policy')">Privacy Policy</p>
      <p (click)="goTo('contact')">Contact</p>
    </div>

    <div class="follow-us">
      Follow Us
    </div>
    <div class="sidebar-networks">
        <img src="assets/images/icons/icon-facebook.png" alt="">
        <img src="assets/images/icons/icon-twitter.png" alt="">
        <img src="assets/images/icons/icon-instagram.png" alt="">
        <img src="assets/images/icons/icon-linkedin.png" alt="">
        <img src="assets/images/icons/icon-tiktok.png" alt="">
    </div>

  </div>
</p-sidebar>


