@import "src/styles/colors";


.layout-navbar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  padding: 1.875rem 9.375rem;
  align-items: center;
  justify-content: space-between;
  z-index: 999;

  .app-logo {
    max-height: 2.5rem;
    cursor: pointer;
  }

  .hamburger {
    max-height: 1.25rem;
    cursor: pointer;
  }
}

.sidebar-wrapper {
  background: white;
  width: 40vw;
  text-align: end;
  padding-right: 7vw;
  color: $blue;

  .follow-us {
    font-size: 24px;
    letter-spacing: 5px;
    color: $rose;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
  }

  .sidebar-main-routes {
    h3 {
      font-size: 3vw;
      cursor: pointer;
      transition: all .3s ease;

      &:hover {
        color: $rose;
      }
    }
  }

  .sidebar-secondary-routes {
    padding-bottom: 20px;

    p {
      font-weight: 300;
      cursor: pointer;
      font-size: 21px;
      transition: all .3s ease;

      &:hover {
        color: $rose;
      }
    }
  }

  .sidebar-networks {
    color: white;
    align-items: center;
    margin: 0;
    text-align: end;
    display: flex;
    justify-content: space-between;
    width: 80%;
    float: right;
    gap: 15px;
    flex-wrap: wrap;

    img {
      cursor: pointer;
      width: 1.9rem;
    }
  }

}

::ng-deep {
  .p-sidebar-right {
    width: unset !important;

    .p-sidebar-header {
      padding-right: 8vw;
      padding-bottom: 3.75rem;

      .p-sidebar-close-icon {
        font-size: 3vw;
        font-weight: 300;
        color: $blue;
      }
    }
  }

}

.white-navbar {
  position: relative;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  background: white;
}

@media (max-width: 768px) {
  .layout-navbar {
    position: relative;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    background: white;
    padding: 1.875rem;

  }

  .sidebar-wrapper {
    background: white;
    width: 100%;

    .sidebar-main-routes {
      h3 {
        font-size: 1.875rem !important;
      }
    }
  }

  ::ng-deep {
    .p-sidebar-right {
      width: 100% !important;
    }
  }
}

