<div class="home-wrapper">
  <div class="home-hero">
    <img class="hero-background" src="assets/images/backgrounds/hero-background.png" alt="">
    <div class="home-hero-container">
      <div class="home-hero-info-wrapper">
        <div class="empty-space"></div>
        <div class="home-hero-info">
          <h1 class="home-hero-title text-nowrap">Dating Done <br>
            Differently
          </h1>
          <p class="home-hero-text text-nowrap">
            A dating app should celebrate what makes you who you are. <br>
            And let's be real: a photo and a bio just don't cut it anymore. <br>
            It's time for something different -- try PreVue.
          </p>
          <img class="home-hero-qr" src="assets/images/qrcode.png" alt="">
          <div class="home-hero-stores">
            <img class="store-apple mr-2" src="assets/images/store/CTA-App-Store.png" alt="">
            <img class="store-google" src="assets/images/store/CTA-Google-Play.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="home-about">
    <video class="home-about-video" autoplay>
      <source src="assets/videos/about.mp4" type="video/mp4">
    </video>
    <div class="home-about-info">
      <div class="home-about-info-container">
        <div class="home-about-info-wrapper">
          <p class="text-uppercase subtitle">Abut the app</p>
          <h2 class="title">What is Prevue?</h2>
          <p class="info-text text-nowrap">
            PreVue is a new kind of dating app that ditches the <br>
            doctored photos and misleading bios. With Prevue,<br>
            you match based on a short video that shows who<br>
            you really are no filters or uploads allowed.<br>
            <br>
            We believe that videos tell more about a person<br>
            than a photo or bio box ever could. Seeing someone<br>
            move and listening to what they have chosen to<br>
            share about themselves is the ultimate vibe check.<br>
            <br>
            You deserve to be choosy about your next partner<br>
            and to have them embrace your real self from the<br>
            start. Know before you go, with PreVue.<br>
          </p>
        </div>
      </div>
      <div class="empty-wrapper"></div>
    </div>
  </div>

  <div class="home-how">
    <div class="home-how-steps-image">
      <img src="assets/images/carousel/Carousel-Step1.png" alt="">
    </div>
    <div class="home-how-steps-info-wrapper">
      <div class="home-how-steps-info">
        <p class="text-uppercase subtitle">Step one</p>
        <h2 class="text-nowrap title">
          Put Yourself <br>
          Out There
        </h2>
        <p class="info-text text-nowrap">
          Start by taking a 22 second video of you; the real <br>
          you. No filters, no bs, just tell the world who you <br>
          are and what you're looking for.
        </p>
      </div>
    </div>
  </div>

  <div class="home-testimonials">
    <div class="home-testimonials-header">
      <p class="subtitle text-white text-uppercase text-center mb-3">Testimonials</p>
      <h1 class="title text-white mb-4">Don't take our word for it</h1>
      <p class="info-text text-white text-center">
        See what thousand of other people have to say about PreVue and the <br>
        positive impact it's had on their relationships.
      </p>
    </div>
    <div class="home-testimonials-quotes-wrapper">
      <div class="quote-wrapper mb-4">
        <img src="assets/images/icons/open-quotations.png" class="quote" alt="">
        <img src="assets/images/icons/close-quotations.png" class="quote" alt="">
        <h1 class="title text-white text-center">
          You know what they <br>
          say...love is blind.
        </h1>
      </div>
      <p class="subtitle text-center">Tommy W</p>
    </div>
  </div>

  <div class="home-prefooter">
    <div class="home-prefooter-info">
      <h1 class="title text-white">
        It's time for <br>
        something new.
      </h1>
      <p class="subtitle text-white">Try PreVue.</p>
    </div>
    <div class="home-prefooter-images">
        <img class="home-prefooter-qr" src="assets/images/qrcode.png" alt="">
        <div class="home-prefooter-stores">
          <img class="store-apple mr-2" src="assets/images/store/CTA-App-Store.png" alt="">
          <img class="store-google" src="assets/images/store/CTA-Google-Play.png" alt="">
        </div>
      </div>
  </div>
</div>
