@import "src/styles/colors";

.contact {
  position: relative;
  width: 100%;
  height: 67vh;
  background: url("~src/assets/images/backgrounds/contact-background.png");
  background-size: 100% 100%;

  .contact-container {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;

    .contact-wrapper {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
      align-items: flex-end;
      justify-items: flex-start;
      padding-bottom: 1.3125rem;

      .contact-form-wrapper {
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: flex-end;
        padding-right: 9.375rem;

        .contact-form {
          position: relative;
          padding: 1rem 1.5rem 3.125rem 1.5rem;
          border-radius: 0.3125rem;
          background-color: white;
          display: flex;
          flex-direction: column;
          max-width: 450px;
          width: 100%;
          height: 100%;
          justify-content: space-around;

          .contact-form-btn {
            position: absolute;
            bottom: -1.9rem;
            right: 1.5rem;
            background: #ff52a4;
            color: white;
            padding: .75rem 2.5rem;
            border-radius: 0.1875rem;
            //border-bottom-right-radius: 0.1875rem;
            border: 0;
            font-size: 0.875rem;
          }


          input {
            border: unset;
            border-bottom: 1px solid $blue;
            font-size: 1.125rem;
            margin-bottom: 2rem;
            width: 100%;
            font-width: 300;
            font-weight: 300;

            &:focus {
              box-shadow: unset !important;
              border: unset;
            }

            &::placeholder {
              color: $blue;
              font-weight: 300;
            }
          }

          .subtitle {
            color: $blue;
            text-transform: uppercase;
          }

        }
      }

      .contact-title-wrapper {
        padding-left: 9.375rem;

        h1 {
          font-size: 6vw;
          color: white;

        }
      }
    }

  }
}

.contact-prefooter {
  padding: 4rem 9.375rem;
  width: 100%;
  background-color: $blue;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  justify-items: flex-start;
  color: white;

  .contact-prefooter-column {
    .subtitle {
      color: white;
      text-transform: uppercase;
      margin-bottom: 1.25rem;
      letter-spacing: 0.125rem;
    }

    .contact-prefooter-list {
      margin: 0;
      padding: 0;
      list-style: none;

      a {
        color: white;
        &:hover {
          color: white;
        }
      }

      li {
        text-decoration: underline;
        font-size: 0.875rem;
        font-weight: 300;
        margin-bottom: 0.625rem;
        cursor: pointer;
      }
    }
  }
}


@media (max-width: 768px) {
  .contact {
    padding: 20px;
    .contact-container {
      .contact-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)) !important;
        margin-bottom: 2.5rem;
        gap: 1.875rem;
        .contact-form-wrapper {
          height: 100% !important;
          margin-bottom: 2.5rem;
          padding-right: 0px !important;
          justify-content: flex-start !important;
        }
      }

      .contact-title-wrapper {
        padding-left: 0 !important;
        h1 {
          margin-bottom: 1.875rem !important;
        }
      }
    }
  }


  .contact-prefooter {
    padding: 4rem 1.25rem;
    grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr)) !important;
    gap: 15px;

  }
}
