<div class="contact">
<!--  <img class="w-100" src="assets/images/backgrounds/contact-background.png" alt="">-->
  <div class="contact-container">
    <div class="contact-wrapper">
      <div class="contact-title-wrapper">
        <h1>Contact us</h1>
      </div>
      <div class="contact-form-wrapper">
        <div class="contact-form" [formGroup]="contactForm">
          <p class="subtitle">Drop us a line</p>
          <input type="text" formControlName="name" placeholder="Name">
          <input type="text" formControlName="email" placeholder="Email">
          <input type="text" formControlName="phone" placeholder="Phone">
          <input type="text" formControlName="message" placeholder="Message">
          <button class="contact-form-btn">Send it</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="contact-prefooter">
  <div class="contact-prefooter-column">
    <p class="subtitle">Address</p>
    <ul class="contact-prefooter-list">
      <a href="https://www.google.com/maps/place/1013+Centre+Rd+403+b,+Wilmington,+DE+19805,+EE.+UU./@39.7577937,-75.6091127,17z/data=!3m1!4b1!4m5!3m4!1s0x89c6fdc30d911333:0xe31785c4f605b727!8m2!3d39.7577896!4d-75.606924" target="_blank">
      <li>1013 Centre Road</li>
      <li>Suite 403-B</li>
      <li>Wilmington, DE 19805</li>
      </a>
    </ul>
  </div>
  <div class="contact-prefooter-column">
    <p class="subtitle">Email</p>
    <ul class="contact-prefooter-list">
      <li>
        <a href="mailto:contact@prevue.com" target="_blank">contact@prevue.com</a>
      </li>
    </ul>
  </div>
  <div class="contact-prefooter-column">
    <p class="subtitle">Phone</p>
    <ul class="contact-prefooter-list">
      <li> 
        <a href="tel:302-497-7115">302-497-7115</a>
      </li>
    </ul>
  </div>
  <div class="contact-prefooter-column">
    <p class="subtitle">Press</p>
    <ul class="contact-prefooter-list">
      <li>
        <a href="mailto:press@prevue.com" target="_blank">press@prevue.com</a>
      </li>
    </ul>
  </div>
</div>
